html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

html {
  font-size: 62.5%;
  height: 100%; }

body {
  height: 100%;
  transition: all 0.2s ease; }

.body--home {
  background-color: #5a37b7; }

.body--likes {
  background-color: #c9379c; }

.body--search {
  background-color: #e4aa1b; }

.body--profile {
  background-color: #1194aa; }

.container {
  width: 100%;
  max-width: 60rem;
  margin: 0 auto;
  display: grid;
  justify-items: center;
  align-items: center;
  height: 100%; }

.navigation {
  background: #fff;
  padding: 5.19974rem;
  border-bottom-right-radius: 4.55rem;
  border-bottom-left-radius: 4.55rem;
  width: 48.5rem;
  display: flex; }

.button {
  border-radius: 4rem;
  max-width: 12rem;
  padding: 2.19856rem 3.79834rem;
  display: flex;
  align-items: center;
  background: transparent;
  transition: background 0.25s ease; }
  .button--home.active {
    background: #dfd7f3; }
    .button--home.active .button__icon > * {
      stroke: #5a37b7; }
    .button--home.active .button__text {
      width: 4.8rem;
      visibility: visible;
      color: #5a37b7;
      margin-left: 1rem;
      opacity: 1;
      transition: margin-left 0.25s ease, width 0.25s ease, opacity 0.15s ease 0.1s, visibility 0.15s ease 0.1s, color 0.25s ease; }
  .button--likes.active {
    background: #f6d6ee; }
    .button--likes.active .button__icon > * {
      stroke: #c9379c; }
    .button--likes.active .button__text {
      width: 4.8rem;
      visibility: visible;
      color: #c9379c;
      margin-left: 1rem;
      opacity: 1;
      transition: margin-left 0.25s ease, width 0.25s ease, opacity 0.15s ease 0.1s, visibility 0.15s ease 0.1s, color 0.25s ease; }
  .button--search.active {
    background: #faebd3; }
    .button--search.active .button__icon > * {
      stroke: #e4aa1b; }
    .button--search.active .button__text {
      width: 4.8rem;
      visibility: visible;
      color: #e4aa1b;
      margin-left: 1rem;
      opacity: 1;
      transition: margin-left 0.25s ease, width 0.25s ease, opacity 0.15s ease 0.1s, visibility 0.15s ease 0.1s, color 0.25s ease; }
  .button--profile.active {
    background: #d2ebef; }
    .button--profile.active .button__icon > * {
      stroke: #1194aa; }
    .button--profile.active .button__text {
      width: 4.8rem;
      visibility: visible;
      color: #1194aa;
      margin-left: 1rem;
      opacity: 1;
      transition: margin-left 0.25s ease, width 0.25s ease, opacity 0.15s ease 0.1s, visibility 0.15s ease 0.1s, color 0.25s ease; }
  .button__icon {
    width: 3.094rem; }
    .button__icon > * {
      fill-opacity: 0;
      stroke: black;
      stroke-width: 2; }
  .button__text {
    margin: 0;
    font-size: 1.6rem;
    color: #000;
    font-weight: bold;
    font-family: sans-serif;
    margin-left: 0;
    width: 0;
    opacity: 0;
    visibility: hidden;
    transition: margin-left 0.1s ease, width 0.1s ease, visibility 0.1s ease 0.0s, opacity 0.1s ease 0.0s, color 0.1s ease; }

.ripple {
  width: 10px;
  height: 10px;
  opacity: 0;
  transform: scale(0);
  border: 0.1rem solid rgba(0, 0, 0, 0.1);
  background: transparent;
  border-radius: 50%;
  position: fixed; }

.ripple--home {
  border: 0.1rem solid #5a37b7; }

.ripple--likes {
  border: 0.1rem solid #c9379c; }

.ripple--search {
  border: 0.1rem solid #e4aa1b; }

.ripple--profile {
  border: 0.1rem solid #1194aa; }

.animate {
  animation: ripple-mo 0.15s cubic-bezier(0, 0, 0.2, 1); }

@keyframes ripple-mo {
  0% {
    transform: scale(0);
    opacity: 0.5; }
  100% {
    transform: scale(10);
    opacity: 0; } }

/*# sourceMappingURL=main.css.map */
