html { 
  font-size: 62.5%; 
  height: 100%;
}

body {
  height: 100%;
}

$purple: #5a37b7;
$purple-light: #dfd7f3;
$pink: #c9379c;
$pink-light: #f6d6ee;
$orange: #e4aa1b;
$orange-light: #faebd3;
$teal: #1194aa;
$teal-light: #d2ebef;

$height-nav: 18.2rem;

@mixin nav__height($height) {
  padding: 0.2857 * $height;
}

@mixin button__padding($height) {
  padding: 0.1208 * $height 0.2087 * $height;
}

@mixin button-icon__width($height) {
  width: 0.17 * $height;
}

@mixin button($color,$background-color,$button) {
  &--#{$button}.active {
    background: $background-color;
    .button__icon > * { 
      stroke: $color;
    } 
    .button__text {
      width: 4.8rem;
      visibility: visible;;
      color: $color;
      margin-left: 1rem;
      opacity: 1;
      transition: margin-left 0.25s ease,
                width 0.25s ease,
                opacity 0.15s ease 0.1s,
                visibility 0.15s ease 0.1s,
                color 0.25s ease;    
      // transition: margin-left 0.1s ease,
      //             width 0.1s ease,
      //             visibility 0.1s ease 0.0s,
      //             color 0.1s ease,
    }
  }
}

html {
  background: $purple;
}

.container {
  width: 100%;
  max-width: 60rem;
  margin: 0 auto;
  display: grid;
  justify-items: center;
  align-items: center;
  height: 100%;
}

.navigation {
  background: #fff;
  @include nav__height($height-nav);
  width: 50rem;
  display: flex;
}

// home
// likes
// search
// profile

.button {
  border-radius: 4rem;
  max-width: 12rem;
  //padding: 1.2rem 2.8rem;
  @include button__padding($height-nav);  
  display: flex;
  align-items: center;
  background: transparent;
  transition: background 0.25s ease;

  @include button($purple,$purple-light,home);
  @include button($pink,$pink-light,likes);
  @include button($orange,$orange-light,search);
  @include button($teal,$teal-light,profile);

  &__icon {
    @include button-icon__width($height-nav); 
    & > * { 
    fill-opacity: 0;
    stroke: black; 
    stroke-width: 2;
    }
  }

  &__text {
    margin: 0;
    font-size: 1.6rem;
    color: #000;
    font-weight: bold;
    font-family: sans-serif;
    margin-left: 0;
    width: 0;
    opacity: 0;
    visibility: hidden;
    transition: margin-left 0.1s ease,
            width 0.1s ease,
            visibility 0.1s ease 0.0s,
            opacity 0.1s ease 0.0s,
            color 0.1s ease;     
  } 
}

.ripple {
  width: 10px;
  height: 10px;
  opacity: 0;
  transform: scale(0);
  border: 0.1rem solid rgba(0, 0, 0, 0.1);
  background: transparent;
  border-radius: 50%;
  position: fixed;
}

.ripple--home {
  border: 0.1rem solid $purple;
}

.ripple--likes {
  border: 0.1rem solid $pink;
}

.ripple--search {
  border: 0.1rem solid $orange;
}

.ripple--profile {
  border: 0.1rem solid $teal;
}

.animate {
  animation: ripple-mo 0.15s cubic-bezier(0, 0, 0.2, 1);
}

@keyframes ripple-mo {
  0% {
    transform: scale(0);
    opacity: 0.5;
  }
  100% {
    transform: scale(10);
    opacity: 0;
  }
}

